header, footer {
    background: #19191a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header {
    margin: 0 0 12px 0;
}

#btnFeeds {
    display: inline;
    margin: 8px;
    position: fixed;
    right: 0;
}

#feeds {
    bottom: 0;
    margin: 8px 0;
    overflow-y: scroll;
    position: fixed;
    right: 52px;
}

button.btn-dark, a.btn-dark {
    background-color: #17181a;
    color: rgb(244, 250, 255);
    margin: 0;
}

    button.btn-dark:focus, a.btn-dark:focus {
        background-color: #dee1e8;
        border: 1px solid #7171e2;
        color: #7171e2;
    }

    button.btn-dark:hover, a.btn-dark:hover {
        background-color: #dee1e8;
        border: 1px solid #52529d;
        color: #52529d;
    }

    button.btn-dark:active, a.btn-dark:active {
        background-color: #dee1e8;
        border: 1px solid #9d9db1;
        color: #9d9db1;
    }

.fixed {
    position: fixed;
}

.vertical-center {
    vertical-align: middle;
}

tbody > tr > td.vertical-center {
    vertical-align: middle;
}

.bold {
    font-weight: bold;
}

.tab-header {
    margin: 0 0 12px 0;
    padding: 32px;
}

.bordered {
    border: 1px solid #008b8b;
}

.loose-row {
    margin: 8px;
    padding: 8px;
}

.full-height {
    height: 100%;
}

table.tight > tbody {
    margin: 0;
    padding: 0;
}

    table.tight > tbody > tr {
        margin: 0;
        padding: 0;
    }

        table.tight > tbody > tr > td {
            margin: 0;
            padding: 0;
        }
